.navbar{
    width: 100%;
    padding: 4px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 16px;
    background-color: #ce5829;
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
    width: 120px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 20px;
    color: #ffffff;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-left ul li:hover{
    text-decoration: underline;
    color: #ffffff;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right .icons{
    width: 25px;
    cursor: pointer;
    color: #ffffff;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 40px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background-color: transparent;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 14px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
}

@media (max-width: 500px) {
    .navbar-left ul {
        display: none;
    }

    .navbar-left {
        gap: 12px;
    }
}
